<div class="container">
    <div class="row">
        <div class="col-sm">
            <nav class="navbar navbar-expand-lg fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <img src="../../static/img/logow.png" alt="Logo" height="40">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars-staggered"></i></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a class="nav-link nlink" href="/">Ana Sayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nlink" href="/yazarlar">Yazarlar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nlink" href="/hakkimizda">Hakkımızda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nlink" href="/iletisim">İletişim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nlink" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link nlink" href="/login">Giriş Yap</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>