{% extends 'layout.html' %}

{% block head %}
<title> Hakkımızda - Ütopya Dergisi</title>
{% endblock head %}

{% block body %}

<div class="container">
    <div class="row" style="margin-top: 100px;">
        <div class="col-sm"></div>
        <div class="col-sm">
            <div style="text-align: center;">
                <h1 style="font-weight: bolder;"> Hakkımızda </h1>
            </div>
            <span style="font-weight: bolder;">
                Kerteriz Blog, yazılım ve donanım alanlarında en güncel ve özgün içeriklerin yer aldığı bir blog olarak
                2018 yılından itibaren yayına devam etmektedir.
            </span>
            <br><br>
            <span>
                Başından beri büyük bir zevkle ve heyecanla yazmaya devam ederek sizlere en kaliteli içerikleri
                toplamaya çalışıyorum. Hakkımda daha fazlasını merak edenler aşağıdaki bağlantıdan LinkedIn sayfamı
                ziyaret edebilir.
            </span>
            <br>
            <div style="text-align: center;">
                <img src="https://kerteriz.net/content/images/size/w1000/2023/04/about-page-cover.jpg" alt="resim"
                    height="200">
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>

{% endblock body %}