{% extends 'layout.html' %}

{% block head %}
<title> Hakkımızda - Ütopya Dergisi</title>
{% endblock head %}

{% block body %}

<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm"></div>
        <div class="col-sm-8">
            <div style="text-align: center;">
                <h1 style="font-weight: bolder;"> Hakkımızda </h1>
            </div>
            <span style="font-weight: bolder;">
                Biz düşüncelerin yalnızca zihinde yaşamaması gerektiğini düşünüyoruz. Zihindekilerin kalemden akıp başka
                bir kişinin yüregine damlaması gerektiğine inanıyoruz.
            </span>
            <br><br>
            <span>
                Her bir kalemin bambaşka bir "ütopya" yarattığının farkındayız.Bu yüzden başka ruhların tasarladığı
                dünyalara sızmak istiyoruz. Fikirlerle bir araya gelmek, içimizde ki fısıltıları başkaları da duysun,
                anlasın istiyoruz. Bunun için özgür, tarafsız ve gepgeniş bir yelpazeye sahip olan bir alan yaratmak
                istedik ve adını da "ütopya" koyduk. Buradaki tek sınır hayal gücünüz.
        </div>
        <div class="col-sm"></div>
    </div>
</div>

{% endblock body %}