{% extends 'layout.html' %}

{% block head %}
<title> Ütopya Dergisi - Ütopyanızı Dünyamıza Taşıyın </title>
{% endblock head %}

{% block body %}

<div class="container">
    <div class="row ir1">
        <div class="col-sm">
            <img src="https://kerteriz.net/content/images/2021/10/kerteriz-logo-kare.png" alt="Logo">
            <h1 class="ih1"> Kerteriz Blog </h1>
            <p>
                Profesyoneller için en güncel içerik ve kaynakların yer aldığı <br> muhteşem bir blog deneyimi
            </p>
            <button class="ibuton">KAYIT OLUN</button>
            <span class="ibehind"></span>
            <button class="ibuton">GİRİŞ YAPIN</button>
        </div>
    </div>
    <div class="row ir2">
        <div class="col-sm">
            <h6 class="ih6">ÖNE ÇIKAN YAZILAR</h6>
            <hr>
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm">
                        <br>
                        <div class="iock">
                            <a href="#" class="iiocklink">
                                <img src="https://kerteriz.net/content/images/size/w1140/2023/08/kubernetes-dersleri.jpg"
                                    alt="resim" class="iockimage">
                                <br><br>
                                <h4 class="ih4">Temelden İleriye Türkçe Kubernetes Dersleri</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm">
                        <br>
                        <div class="iock">
                            <a href="#" class="iiocklink">
                                <img src="https://kerteriz.net/content/images/size/w1140/2023/08/kubernetes-dersleri.jpg"
                                    alt="resim" class="iockimage">
                                <br><br>
                                <h4 class="ih4">Temelden İleriye Türkçe Kubernetes Dersleri</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm">
                        <br>
                        <div class="iock">
                            <a href="#" class="iiocklink">
                                <img src="https://kerteriz.net/content/images/size/w1140/2023/08/kubernetes-dersleri.jpg"
                                    alt="resim" class="iockimage">
                                <br><br>
                                <h4 class="ih4">Temelden İleriye Türkçe Kubernetes Dersleri</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ir3">
        <div class="col-sm"></div>
        <div class="col-sm-8">
            <h6 class="ih6">SON YAZILAR</h6>
            <hr>
            <br>
            <div class="iyks">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3">
                            <br>
                            <img src="https://images.unsplash.com/photo-1518186285589-2f7649de83e0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMTc3M3wwfDF8c2VhcmNofDE4fHxhbmFseXRpY3xlbnwwfHx8fDE3MTQ0ODExNjd8MA&ixlib=rb-4.0.3&q=80&w=1140"
                                alt="resim" height="100">
                        </div>
                        <div class="col-sm-9">
                            <br>
                            <h6 class="ih6">Kubernetes Tuning 2: CPU Limitlerini Kaldırarak Throttling Önlemek</h6>
                            <span class="inp">Kubernetes resource limitleri, podların aşırı kaynak kullanımını engeller.
                                Peki bu
                                zararlı olabilir mi?</span>
                            <br>
                            <span class="text-muted inpk">30 - Nisan - 2024 / burhankaratas </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="iyks">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3">
                            <br>
                            <img src="https://images.unsplash.com/photo-1518186285589-2f7649de83e0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMTc3M3wwfDF8c2VhcmNofDE4fHxhbmFseXRpY3xlbnwwfHx8fDE3MTQ0ODExNjd8MA&ixlib=rb-4.0.3&q=80&w=1140"
                                alt="resim" height="100">
                        </div>
                        <div class="col-sm-9">
                            <br>
                            <h6 class="ih6">Kubernetes Tuning 2: CPU Limitlerini Kaldırarak Throttling Önlemek</h6>
                            <span class="inp">Kubernetes resource limitleri, podların aşırı kaynak kullanımını engeller.
                                Peki bu
                                zararlı olabilir mi?</span>
                            <br>
                            <span class="text-muted inpk">30 - Nisan - 2024 / burhankaratas </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="iyks">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3">
                            <br>
                            <img src="https://images.unsplash.com/photo-1518186285589-2f7649de83e0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMTc3M3wwfDF8c2VhcmNofDE4fHxhbmFseXRpY3xlbnwwfHx8fDE3MTQ0ODExNjd8MA&ixlib=rb-4.0.3&q=80&w=1140"
                                alt="resim" height="100">
                        </div>
                        <div class="col-sm-9">
                            <br>
                            <h6 class="ih6">Kubernetes Tuning 2: CPU Limitlerini Kaldırarak Throttling Önlemek</h6>
                            <span class="inp">Kubernetes resource limitleri, podların aşırı kaynak kullanımını engeller.
                                Peki bu
                                zararlı olabilir mi?</span>
                            <br>
                            <span class="text-muted inpk">30 - Nisan - 2024 / burhankaratas </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="ibtncb">
                <button class="ibuton">Daha Fazla Yükle</button>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>

<br><br><br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/js/owl.carousel.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })
</script>

{% endblock body %}