{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/home.css">

<title> Ütopya Dergisi - Ütopyanızı Dünyamıza Taşıyın </title>
{% endblock head %}

{% block body %}

<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm img" style="text-align: center;">
            <img src="../static/img/kitap.png" alt="dergi resmi" height="300" draggable="false">
        </div>
        <div class="col-sm">
            <h1 style="font-weight: bolder;"> Yenilikçi Dergi <br> Platformu </h1>
            <span class="aciklama">
                Her bir kalemin bambaşka bir "ütopya" yarattığının farkındayız.Bu yüzden başka ruhların tasarladığı
                dünyalara sızmak istiyoruz. Fikirlerle bir araya gelmek, içimizde ki fısıltıları başkaları da duysun,
                anlasın istiyoruz. Bunun için özgür, tarafsız ve gepgeniş bir yelpazeye sahip olan bir alan yaratmak
                istedik ve adını da "ütopya" koyduk. Buradaki tek sınır hayal gücünüz.

            </span>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm">
            <h3 style="font-weight: bolder; display: inline-block"> En Son Yayınlananlar </h3> <a href="/icerik"
                style="color: black;"> <span style="float: right; font-weight: bolder; text-decoration: underline">
                    Tümünü Gör</span> </a>
        </div>
    </div>
    <div class="container" style="margin-top: 30px;">
        {% for article in datas %}
        {% if loop.index0 % 3 == 0 %}
        <div class="row">
            {% endif %}
            <div class="col-sm">
                <br>
                <div class="icerikkutu">
                    <br>
                    <h4>{{ article.title }}</h4>
                    <span class="metin">
                        {{ article.content }}
                    </span>
                    <br>
                    <ul style="list-style-type: none; margin-left: -30px">
                        <li>
                            {% if article.hastag != "" or article.hastag == None %}
                            <div class="kategori" style="background-color: red;"></div>
                            {{article.hastag}}
                            {% endif %}
                        </li>
                        <a href="/p/{{article.url}}" style="color: white; float: right"> <span> Daha Fazla </span> </a>
                    </ul>
                </div>
            </div>
            {% if loop.index0 % 3 == 2 or loop.last %}
        </div>
        {% endif %}
        {% endfor %}
    </div>

</div>

<style>
    .icerikkutu {
        background-color: #737373;
        color: white;
        padding: 15px;
    }

    .metin {
        font-size: 16px;
    }

    .kategori {
        padding: 5px;
        display: inline-block;
        border-radius: 50%;
    }
</style>

<br><br><br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/js/owl.carousel.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })
</script>

{% endblock body %}