{% extends 'applayout.html' %}

{% block head %}
<title> Onay Bekleyenler - Ütopya </title>
{% endblock head %}

{% block body %}

<br><br><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="/index" style="text-decoration: none; color: black" class="gerilink"> ← Geri Git </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <br><br>
            <h1> Onay Bekleyen Yazılar </h1>
            <br><br>

            <ul class="list-group">
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm">
                                Ad
                            </div>
                            <div class="col-sm">
                                İçerik
                            </div>
                            <div class="col-sm">
                                Yayımda mı?
                            </div>
                            <div class="col-sm">
                                Görüntüleme
                            </div>
                            <div class="col-sm">
                                Düzenle / Sil
                            </div>
                        </div>
                    </div>
                </li>

                {% for data in datas %}
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm">
                                {{data['title']}}
                            </div>
                            <div class="col-sm">
                                {{data['content']}}
                            </div>
                            <div class="col-sm">
                                {% if data['IsPublish'] == 0 %}
                                <a href="/publish/{{data.id}}"><button class="btn btn-success"> Yayıma Al </button></a>
                                {% else %}
                                Evet
                                {% endif %}
                            </div>
                            <div class="col-sm">
                                {{data['watch']}}
                            </div>
                            <div class="col-sm">
                                <a href="gonderi-guncelle/{{data.id}}"
                                    style="text-decoration: none; color: rgb(1, 9, 255); font-size: 20px; margin-left: 20px;"><i
                                        class="fa-solid fa-pen"></i></a>
                                <a href="delete/{{data.id}}"
                                    style="text-decoration: none; color: red; font-size: 20px; margin-left: 20px"><i
                                        class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>



{% endblock body %}